*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-tap-highlight-color: transparent
}
@font-face {
    font-family: "digital";
    src: url('digital.ttf');
  }

body{
    background: linear-gradient(rgba(250, 242, 255, 0.534) 0%, rgba(226, 247, 254, 0.438) 100%);
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
.footer.container{
    margin-top: auto;
    height: 48px;
    flex-direction: row;
    gap: 6px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
.container.calculator{
    position: relative;
    /* border: solid 2px blue; */
    width: 360px;
    height: 680px;
    margin: auto;
    margin-top: 20px;
}
.container.lcd{
    position: absolute;
    flex-direction: row;
    z-index: 100;
    translate: 0px -160px;
    font-family: 'digital', serif;
    font-size: 52px;
    justify-content: flex-end;
    width: 220px;
    height: 100px;
    color: rgb(37, 37, 37);
    transition-property: all;
    transition-duration: 5s;
    /* border: 1px solid red; */
}
.container.numpad{
    flex-direction: column;
    width: 306px;
    height: 380px;
    /* border: solid 2px blue; */
    position: absolute;
    top: 305px;
    justify-content: start;
    padding: 0px 5px;
    font-family: 'Lemonada', cursive;
    color:rgba(0, 0, 0, 0.601);
}
.flash{
    animation: flash 0.4s normal;
}
.shake{
    animation: shake 0.2s normal ease;
    animation-iteration-count: 2;
}
.container.column{
    /* border: solid 2px green; */
    height: 100%;
    width: 100%;
    justify-content: start;
    flex-direction: column;
    margin-top: 6px;
}
.container.row{
    flex-direction: row;
    width: 100%;
    margin-top: 1px;
    justify-content: space-around;
    /* border: 2px solid rgb(251, 0, 255); */
}
.digit{
    /* border: solid 1px red; */
    font-size: 24px;
    height: 64px;
    width: 64px;
    background-image: url(images/button.png);
    background-size: cover;
    cursor: pointer;
    margin-bottom: -0.5px;
}
.digit:active{
    scale: 95%;
}
.digit:hover{
    rotate: 1deg;
}
.digit.long{
    background-image: url(images/button_long.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:bottom;
    height: 126px;
    /* border: solid 1px red; */
}
.digit.long-horizontal{
    background-image: url(images/button_long_horizontal.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 136px;
    height: 62px;
    /* border: solid 1px red; */
}
.operator{
    filter: hue-rotate(310deg);
}
.rot-2{
    rotate: 2deg;
}
.rot-1{
    rotate: -1deg;
}
.shift-1{
    translate: 0px 1px;
}
.scale-1{
    scale: 98%;;
}
.invert{
    filter: invert();
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(183, 47, 113);
}
/* #clear-button{
    translate: -10px 0px;
}
#delete-button{
    translate: 6px 0px;
}
#divide-button{
    translate: 17px 0px;
} */

@keyframes flash {
   0% {
    opacity: 0%;
   }
   100% {
    opacity: 100%;
   }
}

@keyframes shake {
    0% {
        rotate: 0deg;
    }
    25% {
        rotate: 1deg;
    }
    75% {
        rotate: -2deg;
    }
    100%{
        rotate: 0deg;
    }
}